
@import url("https://use.typekit.net/fcs5vqd.css");

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    top: 0px;
    /* border: 1px solid #ccc; */
}
:root{
    /* Backgrounds */
    --primary-bg: rgb(62, 151, 133);
    --pink-bg: #b152da;
    --light-green-bg: #3d96a5;
    
    --light-orange-bg: #e0925a;
    --green-bg: #3e9785;
    --light-red-bg: #e05963;
    --yellow-bg: #baa43c;

    /* texts */
    --semi-white: #dcdad7;
    --light-grey:#7e7e7e;
    --grey: rgb(82, 89, 92);
}

body{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--semi-white);
}
@font-face {
    font-family: 'TT Hoves';
    src: url('./font/TT Hoves Bold.otf');
  }
  h1{
    font-family: 'TT Hoves';
    font-size: 80px;
    margin: 4% 0%;
    color: var(--semi-white);

  }
h2, h3, h4, button{
    font-family: 'TT Hoves';
    margin: 3% 0%;
    color: var(--green-bg);

}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}

p{
    font-size: 16px;
    letter-spacing: 0.8px; 
    word-spacing: 2px;
    line-height: 22px;
    color: rgb(46, 49, 51);
}
/* .remarcar-text{
    color: var(--green-bg)
} */


a{
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
ul{
    list-style-type: none;
}

section.about-us{
    margin-top: 45%;
}
/* .front-page{
    background: linear-gradient(to right, #1bbc9b 0%, #14b9d5 100%);;
} */
header, nav, .menu, .menu-2, .front-page{
    margin-top:0px;
    top: 0px;
}
.front-page{
    width: 1345px;
    margin-left: auto;
    margin-right: auto;
}
.container-img{
    display: block;
    position: absolute;
    width: 1345px;
    height:788px;
}
/* .container-img img{
    background: var(--green-bg);
    opacity: 0.3;
} */
.front-page div.description{
    display: block;
    position: relative;
    top: -600px;
    left: 22%;
    width: 50%;
    padding: 3%;
    background: var(--green-bg);
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}


nav{
    display: block;
    position: relative;
    top: -10px;
    height: 60px;
    background: var(--grey);
}
a.logo{
    display: block;
    width: 130px;
    background-image: url(./img/Kayak-Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px;
    text-indent: -130px;
    overflow: hidden;
}
div.list{
    justify-content: flex-end;
    width: 1345px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    gap: 10px;
}
div.list a{
    color: var(--semi-white);
}
nav .menu-2{
    margin: 0px;
    padding: 0px;
    width: 200px;
}


.buttons{
    display: flex;
    justify-content: space-evenly;
}
button{
    border: none;
    margin: 0px;
    width: 120px;
    height: 30px;
    padding: 0% 1% ;
    text-align: center;
    cursor: pointer;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}






section, div.footer{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

section.destinations div.country{
    width: 243px;
}
figure.images-country img{
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
}
figure.images-country img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

div.footer{
    padding-top: 5%;
}
footer{
    background-color: var(--grey);
    color: var(--semi-white);
}
footer a{
    color: var(--semi-white);
    font-size: 16px;
    margin-bottom: 8%;
}
footer h4{
    margin-bottom: 20%;
}
